* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-center {
    display: flex;
    align-items: center;
}

.jc-center {
    display: flex;
    justify-content: center;
}

.jc-space {
    display: flex;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth;
}

a {
    color: rgb(72, 72, 255);
}

.router-view-container {
    width: 100%;
    margin-top: 75px;
}